body {
    overflow-x: hidden;
    min-width: 600px;
    margin: auto;
}

canvas {
    width: 100%;
    height: 600px;
}

h1, h2, h3 {
    margin: 5px;
}

.content {
    min-width: 600px;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.content-full {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.arrow-up {
    width: 0;
    height: 0;
    margin-left: -4px;
}

.voronoi path {
    fill: none;
    stroke: red;
}